@import "reset.css";
@import "variables.css";
/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
/* Screens */
@import "screens/welcome-header.css";
@import "screens/login-form.css";
@import "screens/friends.css";

body {
  font-family: "Open Sans", sans-serif;
  color: #2e363e;
  height: 100vh;
}
